html {
  font-family: var(--font-family-sans);
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
  background-color: #e9eaec;
}

body {
  -webkit-font-smoothing: antialiased;
  background: #e9eaec;
  color: var(--color-black);
}

html,
body,
:global(#__next),
:global(.container) {
  height: 100%;
}

:global(.content) {
  min-height: calc(100% - 84px - 218px);
}
