@import '../../styles/custom-media.css';

.root {
  background-color: #e9eaec;
  padding: 2rem 0;
  display: flex;
  justify-content: flex-end;

  @media (--media-min-medium) {
    padding: 4rem 0;
  }
}

.article {
  color: #fff;
  background-color: #59656f;
  width: 100%;
  /* max-width: var(--width-small); */
  margin-left: 2%;
  padding: 1.5rem 1.5rem;
  box-sizing: border-box;
  border-radius: 10px 0 0 10px;
}

@media only screen and (max-width: 675px) {
  .article {
    border-radius: 25px 25px 0 0;
    padding:  0;
    margin: 0;
    text-align: center;
  }
  .article::after {
    content: '';
    display: block;
    width: 100%;
    margin-top: 2rem;
    height: 20px;
    background-color: #e9eaec;
    border-top: 20px solid #e9eaec;
    border-radius: 25px 25px 0 0;
  }
}

.label {
  /* font-size: var(--font-micro-size);
  line-height: var(--font-micro-line-height);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-top: 1em; */
  visibility: hidden;
}

.heading {
  font-size: var(--font-title3-size);
  line-height: var(--font-title3-line-height);
}

.label + .heading {
  margin-top: 0.25em;
}
