@import '../../styles/custom-media.css';

.root {
  background-color: #e9eaec;
  padding: 2rem 0;
  display: flex;
  justify-content: flex-end;

  @media (--media-min-medium) {
    padding: 4rem 0;
  }
}

.article {
  color: #fff;
  background-color: #1a1b34;
  width: 100%;
  /* max-width: var(--width-small); */
  margin-left: 2%;
  padding: 1.5rem 1.5rem;
  box-sizing: border-box;
  border-radius: 10px 0 0 10px;
}

.label {
  /* font-size: var(--font-micro-size);
  line-height: var(--font-micro-line-height);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-top: 1em; */
  visibility: hidden;
}

.heading {
  font-size: var(--font-title3-size);
  line-height: var(--font-title3-line-height);
}

.label + .heading {
  margin-top: 0.25em;
}
